* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  background-color: #fff;
  width: 100%;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 10px;
}


