.Footer {
  grid-column: col-start 2 / span 10;
  grid-row: 3;
  background-color: transparent;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-block: 10px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 100%;
  gap: 5px;
  overflow: hidden;
}

.Footer-madeBy-label{
  display: flex;
  align-items: flex-start;
  justify-content: left;
  height: 100%;
}

.Footer-madeBy-label {
  font-family: "Capriola", sans-serif;
  font-size: 18px;
}

.Footer-boxLinks {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.Footer-boxLinks-a {
  text-decoration: none;
  margin-inline: 5px;
  overflow: hidden;
}

.Footer-boxLinks-a-img{
  width: 35px;
  height: 35px;
  border-radius:17px;
  padding: 0;
  object-fit: cover;
  transition: all 0.1;
}

.Footer-boxLinks-a-img:hover{
  width: 29px;
  height: 29px;
  border: 5px solid #F1C40F;
}
